<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <form action="/books" method="post">
          <fieldset>
              <legend>Enter a New Book</legend>
            <label>
              TITLE:<input
                type="text"
                name="title"
                placeholder="enter book title"
              />
            </label>
            <label>
                AUTHOR:<input
                type="text"
                name="author"
                placeholder="enter author"
              />
            </label>
            <label>
                GENRE:<input
                type="text"
                name="genre"
                placeholder="enter genre"
              />
            </label>
            <label>
                NUMBER OF PAGES:<input
                type="text"
                name="numOfPages"
                placeholder="enter number of pages"
              />
            </label>
            <label>
              STARTED READING:<input type="checkbox" name="startedReading" />
            </label>
            <label>
                FINISHED READING:<input type="checkbox" name="finishedReading" />
              </label>
          </fieldset>
          <input type="submit" value="create new book" />
        </form>
      </div>
    </main>
  </body>
</html>